#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/bt.h>
#include <physical_layouts.dtsi>

#define JIS 1
#define MOUSE 3
#define SCROLL 4
#define BT 5

&mt {
   flavor = "tap-preferred";
};

/ {
    chosen {
		zmk,physical-layout = &layout_US;
	};
	
	layout_US: layout_US {
		compatible = "zmk,physical-layout";
		display-name = "US";
		transform = <&default_transform>;
		kscan = <&kscan0>;

		keys//                    w   h    x    y     rot    rx    ry
		= <&key_physical_attrs 100 100    0    0       0     0     0>
		, <&key_physical_attrs 100 100  100    0       0     0     0>
		, <&key_physical_attrs 100 100  201    2     375   251    52>
		, <&key_physical_attrs 100 100  301   13     875   351    63>
		, <&key_physical_attrs 100 100  400   33    1125   450    83>
		, <&key_physical_attrs 100 100  499   48     625   549    98>
		, <&key_physical_attrs 100 100  900   54     125   950   104>
		, <&key_physical_attrs 100 100 1001   52  (-375)  1051   102>
		, <&key_physical_attrs 100 100 1101   41  (-875)  1151    91>
		, <&key_physical_attrs 100 100 1200   22 (-1125)  1250    72>
		, <&key_physical_attrs 100 100 1299    7  (-625)  1349    57>
		, <&key_physical_attrs 100 100 1400    0  (-125)  1450    50>
		, <&key_physical_attrs 100 100 1500    0       0     0     0>
		, <&key_physical_attrs 200 100 1600    0       0     0     0>
		, <&key_physical_attrs 150 100    0  100       0     0     0>
		, <&key_physical_attrs 100 100  150  100     125   200   150>
		, <&key_physical_attrs 100 100  251  107     625   301   157>
		, <&key_physical_attrs 100 100  350  122    1125   400   172>
		, <&key_physical_attrs 100 100  449  141     875   499   191>
		, <&key_physical_attrs 100 100  549  152     375   599   202>
		, <&key_physical_attrs 100 100  950  154  (-125)  1000   204>
		, <&key_physical_attrs 100 100 1051  148  (-625)  1101   198>
		, <&key_physical_attrs 100 100 1150  133 (-1125)  1200   183>
		, <&key_physical_attrs 100 100 1249  113  (-875)  1299   163>
		, <&key_physical_attrs 100 100 1349  102  (-375)  1399   152>
		, <&key_physical_attrs 100 100 1450  100       0     0     0>
		, <&key_physical_attrs 100 100 1550  100       0     0     0>
		, <&key_physical_attrs 150 100 1650  100       0     0     0>
		, <&key_physical_attrs 175 100    0  200       0     0     0>
		, <&key_physical_attrs 100 100  175  201     250   225   251>
		, <&key_physical_attrs 100 100  276  210     750   326   260>
		, <&key_physical_attrs 100 100  375  227    1250   425   277>
		, <&key_physical_attrs 100 100  474  245     750   524   295>
		, <&key_physical_attrs 100 100  575  254     250   625   304>
		, <&key_physical_attrs 100 100  975  254  (-250)  1025   304>
		, <&key_physical_attrs 100 100 1076  245  (-750)  1126   295>
		, <&key_physical_attrs 100 100 1175  227 (-1250)  1225   277>
		, <&key_physical_attrs 100 100 1274  210  (-750)  1324   260>
		, <&key_physical_attrs 100 100 1375  201  (-250)  1425   251>
		, <&key_physical_attrs 100 100 1475  200       0     0     0>
		, <&key_physical_attrs 225 100 1575  200       0     0     0>
		, <&key_physical_attrs 225 100    0  300       0     0     0>
		, <&key_physical_attrs 100 100  226  304     500   276   354>
		, <&key_physical_attrs 100 100  326  318    1000   376   368>
		, <&key_physical_attrs 100 100  424  337    1000   474   387>
		, <&key_physical_attrs 100 100  524  350     500   574   400>
		, <&key_physical_attrs 100 100  625  355       0     0     0>
		, <&key_physical_attrs 100 100 1026  350  (-500)  1076   400>
		, <&key_physical_attrs 100 100 1126  337 (-1000)  1176   387>
		, <&key_physical_attrs 100 100 1224  318 (-1000)  1274   368>
		, <&key_physical_attrs 100 100 1324  304  (-500)  1374   354>
		, <&key_physical_attrs 100 100 1425  300       0     0     0>
		, <&key_physical_attrs 100 100 1525  300       0     0     0>
		, <&key_physical_attrs 100 100 1650  325       0     0     0>
		, <&key_physical_attrs 125 100    0  400       0     0     0>
		, <&key_physical_attrs 125 100  125  400       0     0     0>
		, <&key_physical_attrs 125 100  253  409     700   316   459>
		, <&key_physical_attrs 100 100  325  445    1195   457   785>
		, <&key_physical_attrs 175 100  473  455     445   585   801>
		, <&key_physical_attrs 100 100 1002  455  (-445)  1065   801>
		, <&key_physical_attrs 100 100 1550  425       0     0     0>
		, <&key_physical_attrs 100 100 1650  425       0     0     0>
		, <&key_physical_attrs 100 100 1750  425       0     0     0>
		// , <&key_physical_attrs 100 100    0  525       0     0     0>
		;
	};
	
	layout_JIS: layout_JIS {
		compatible = "zmk,physical-layout";
		display-name = "JIS";
		transform = <&default_transform>;
		kscan = <&kscan0>;
		
		keys//                     w   h    x    y     rot    rx    ry
		= <&key_physical_attrs 100 100    0    0       0     0     0>
		, <&key_physical_attrs 100 100  100    0       0     0     0>
		, <&key_physical_attrs 100 100  201    2     375   251    52>
		, <&key_physical_attrs 100 100  301   13     875   351    63>
		, <&key_physical_attrs 100 100  400   33    1125   450    83>
		, <&key_physical_attrs 100 100  499   48     625   549    98>
		, <&key_physical_attrs 100 100  900   54     125   950   104>
		, <&key_physical_attrs 100 100 1001   52  (-375)  1051   102>
		, <&key_physical_attrs 100 100 1101   41  (-875)  1151    91>
		, <&key_physical_attrs 100 100 1200   22 (-1125)  1250    72>
		, <&key_physical_attrs 100 100 1299    7  (-625)  1349    57>
		, <&key_physical_attrs 100 100 1400    0  (-125)  1450    50>
		, <&key_physical_attrs 100 100 1500    0       0     0     0>
		, <&key_physical_attrs 100 100 1600    0       0     0     0>
		, <&key_physical_attrs 100 100 1700    0       0     0     0>
		, <&key_physical_attrs 150 100    0  100       0     0     0>
		, <&key_physical_attrs 100 100  150  100     125   200   150>
		, <&key_physical_attrs 100 100  251  107     625   301   157>
		, <&key_physical_attrs 100 100  350  122    1125   400   172>
		, <&key_physical_attrs 100 100  449  141     875   499   191>
		, <&key_physical_attrs 100 100  549  152     375   599   202>
		, <&key_physical_attrs 100 100  950  154  (-125)  1000   204>
		, <&key_physical_attrs 100 100 1051  148  (-625)  1101   198>
		, <&key_physical_attrs 100 100 1150  133 (-1125)  1200   183>
		, <&key_physical_attrs 100 100 1249  113  (-875)  1299   163>
		, <&key_physical_attrs 100 100 1349  102  (-375)  1399   152>
		, <&key_physical_attrs 100 100 1450  100       0     0     0>
		, <&key_physical_attrs 100 100 1550  100       0     0     0>
		, <&key_physical_attrs 150 200 1650  100       0     0     0>
		, <&key_physical_attrs 175 100    0  200       0     0     0>
		, <&key_physical_attrs 100 100  175  201     250   225   251>
		, <&key_physical_attrs 100 100  276  210     750   326   260>
		, <&key_physical_attrs 100 100  375  227    1250   425   277>
		, <&key_physical_attrs 100 100  474  245     750   524   295>
		, <&key_physical_attrs 100 100  575  254     250   625   304>
		, <&key_physical_attrs 100 100  975  254  (-250)  1025   304>
		, <&key_physical_attrs 100 100 1076  245  (-750)  1126   295>
		, <&key_physical_attrs 100 100 1175  227 (-1250)  1225   277>
		, <&key_physical_attrs 100 100 1274  210  (-750)  1324   260>
		, <&key_physical_attrs 100 100 1375  201  (-250)  1425   251>
		, <&key_physical_attrs 100 100 1475  200       0     0     0>
		, <&key_physical_attrs 100 100 1575  200       0     0     0>
		, <&key_physical_attrs 225 100    0  300       0     0     0>
		, <&key_physical_attrs 100 100  226  304     500   276   354>
		, <&key_physical_attrs 100 100  326  318    1000   376   368>
		, <&key_physical_attrs 100 100  424  337    1000   474   387>
		, <&key_physical_attrs 100 100  524  350     500   574   400>
		, <&key_physical_attrs 100 100  625  355       0     0     0>
		, <&key_physical_attrs 100 100 1026  350  (-500)  1076   400>
		, <&key_physical_attrs 100 100 1126  337 (-1000)  1176   387>
		, <&key_physical_attrs 100 100 1224  318 (-1000)  1274   368>
		, <&key_physical_attrs 100 100 1324  304  (-500)  1374   354>
		, <&key_physical_attrs 100 100 1425  300       0     0     0>
		, <&key_physical_attrs 100 100 1525  300       0     0     0>
		, <&key_physical_attrs 100 100 1650  325       0     0     0>
		, <&key_physical_attrs 125 100    0  400       0     0     0>
		, <&key_physical_attrs 125 100  125  400       0     0     0>
		, <&key_physical_attrs 125 100  253  409     700   316   459>
		, <&key_physical_attrs 100 100  325  445    1195   457   785>
		, <&key_physical_attrs 175 100  473  455     445   585   801>
		, <&key_physical_attrs 100 100 1002  455  (-445)  1065   801>
		, <&key_physical_attrs 100 100 1550  425       0     0     0>
		, <&key_physical_attrs 100 100 1650  425       0     0     0>
		, <&key_physical_attrs 100 100 1750  425       0     0     0>
		;
	};
	
	position_map {
		compatible = "zmk,physical-layout-position-map";
		complete;
		
		layout_US {
			physical-layout = <&layout_US>;
			positions
			= < 0  1  2  3  4  5     6  7  8  9 10 11 12 13 63>
			, <14 15 16 17 18 19    20 21 22 23 24 25 26 27   >
			, <28 29 30 31 32 33    34 35 36 37 38 39   40    >
			, <41 42 43 44 45 46    47 48 49 50 51 52   53    >
			, <54 55 56 57 58       59               60 61 62 >
			;
		};
		
		layout_JIS {
			physical-layout = <&layout_JIS>;
			positions
			= < 0  1  2  3  4  5     6  7  8  9 10 11 12 13 14>
			, <15 16 17 18 19 20    21 22 23 24 25 26 27 28   >
			, <29 30 31 32 33 34    35 36 37 38 39 40   41    >
			, <42 43 44 45 46 47    48 49 50 51 52 53   54    >
			, <55 56 57 58 59       60               61 62 63 >
			;
		};
	};

    behaviors {
        toJIS: toJIS {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            bindings = <&tog>, <&kp>;
        };
        mo2: mo2 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N2>, <&kp LBKT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        mo6: mo6 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N6>, <&kp EQUAL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        mo7: mo7 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N7>, <&kp LS(N6)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        mo8: mo8 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N8>, <&kp LS(SQT)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        mo9: mo9 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N9>, <&kp LS(N8)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        mo0: mo0 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N0>, <&kp LS(N9)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        moMINUS: moMINUS {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp LS(INT_RO)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        moEQUAL: moEQUAL {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(MINUS)>, <&kp COLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        moLBKT: moLBKT {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp RBKT>, <&kp LS(RBRC)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        moRBKT: moRBKT {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BSLH>, <&kp LS(BSLH)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        moSEMI: moSEMI {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SEMI>, <&kp SQT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        moSQT: moSQT {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(N7)>, <&kp LS(N2)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        moGRAVE: moGRAVE {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(LBRC)>, <&kp LS(EQUAL)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    }; 
 
   keymap {
        compatible = "zmk,keymap";
        default_layer {
            label="Def";
            bindings = <
&kp CAPS       &kp N1    &kp N2     &kp N3     &kp N4     &kp N5       &kp N6    &kp N7     &kp N8     &kp N9     &kp N0    &kp MINUS  &kp EQUAL      &kp BKSP  &kp INT3
&toJIS 1 TAB   &kp Q     &kp W      &kp E      &kp R      &kp T        &kp Y     &kp U      &kp I      &kp O      &kp P     &kp LBKT   &kp RBKT       &lt 5 BSLH
&kp CAPS       &kp A     &kp S      &kp D      &kp F      &kp G        &kp H     &kp J      &kp K      &kp L      &kp SEMI  &kp SQT                   &kp ENTER
&kp LSHFT      &kp Z     &kp X      &kp C      &kp V      &kp B        &kp N     &kp M      &kp COMMA  &kp DOT    &kp FSLH  &kp RSHFT                 &kp UP
&mt LCTL ESC   &kp LGUI  &kp LALT   &kp SPACE  &lt 2 SPACE             &lt 2 SPACE                                                           &kp LEFT &kp DOWN &kp RIGHT
>;
       };

        jis_layer {
            label="Fn";
            bindings = <
&kp CAPS       &kp N1    &mo2       &kp N3     &kp N4     &kp N5       &mo6      &mo7       &mo8       &mo9       &mo0      &moMINUS   &moEQUAL        &kp BKSP  &kp INT3
&toJIS 1 TAB   &kp Q     &kp W      &kp E      &kp R      &kp T        &kp Y     &kp U      &kp I      &kp O      &kp P     &moLBKT    &moRBKT         &lt 5 INT3
&kp CAPS       &kp A     &kp S      &kp D      &kp F      &kp G        &kp H     &kp J      &kp K      &kp L      &moSEMI   &moSQT                     &kp ENTER
&kp LSHFT      &kp Z     &kp X      &kp C      &kp V      &kp B        &kp N     &kp M      &kp COMMA  &kp DOT    &kp FSLH  &kp RSHFT                  &kp UP
&mt LCTL ESC   &kp LGUI  &kp LALT   &kp SPACE  &lt 2 SPACE             &lt 2 SPACE                                                        &kp LEFT &kp DOWN &kp RIGHT
>;
       };

       function_layer {
        	label="Fnc";
            bindings = <
&moGRAVE      &kp F1     &kp F2     &kp F3     &kp F4     &kp F5       &kp F6    &kp F7     &kp F8     &kp F9     &kp F10   &kp F11    &kp F12         &trans   &trans
&trans        &kp PG_UP  &kp UP     &kp PG_DN  &kp HOME   &trans       &trans    &trans     &trans     &trans     &trans    &trans     &trans          &kp PSCRN
&trans        &kp LEFT   &kp DOWN   &kp RIGHT  &kp END    &trans       &trans    &trans     &trans     &trans     &trans    &trans                     &trans
&trans        &kp BKSP   &kp DEL    &trans     &trans     &trans       &trans    &trans     &trans     &trans     &trans    &trans                     &trans
&trans        &trans     &kp LALT   &kp ENTER  &kp ENTER               &kp ENTER                                                              &trans   &trans   &trans
>;
       };

       mouse_layer {
        	label="Mouse";
            bindings = <
&trans        &trans     &trans     &trans     &trans     &trans       &trans    &trans     &trans     &trans     &trans    &trans     &trans          &trans   &trans
&trans        &trans     &trans     &trans     &trans     &trans       &trans    &trans     &trans     &trans     &trans    &trans     &trans          &trans
&trans        &trans     &trans     &trans     &trans     &trans       &trans    &trans     &trans     &trans     &trans    &trans                     &trans
&trans        &trans     &trans     &trans     &trans     &trans       &trans    &trans     &trans     &mkp MB1   &mkp MB3  &mkp MB2                   &trans
&trans        &trans     &trans                &trans     &trans       &trans                                                                 &trans   &trans   &trans
>;
       };

       scroll_layer {
        	label="Scr";
            bindings = <
&trans        &trans     &trans     &trans     &trans     &trans       &trans    &trans     &trans     &trans     &trans    &trans     &trans          &trans   &trans
&trans        &trans     &trans     &trans     &trans     &trans       &trans    &trans     &trans     &trans     &trans    &trans     &trans          &trans
&trans        &trans     &trans     &trans     &trans     &trans       &trans    &trans     &trans     &trans     &trans    &trans                     &trans
&trans        &trans     &trans     &trans     &trans     &trans       &trans    &trans     &trans     &mkp MB1   &mkp MB3  &mkp MB2                   &trans
&trans        &trans     &trans                &trans     &trans       &trans                                                                 &trans   &trans   &trans
>;
       };

        bt_layer {
        	label="BT";
            bindings = <
&bt BT_CLR     &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4  &trans   &trans   &trans   &trans   &trans  &trans    &trans          &trans   &trans
&bt BT_CLR_ALL &trans       &trans       &trans       &trans       &trans        &trans   &trans   &trans   &trans   &trans  &trans    &trans          &trans
&trans         &trans       &trans       &trans       &trans       &trans        &trans   &trans   &trans   &trans   &trans  &trans                    &trans
&trans         &trans       &trans       &trans       &trans       &trans        &trans   &trans   &trans   &trans   &trans  &trans                    &trans
&trans         &trans       &trans       &trans       &trans                     &trans                                                       &trans   &trans   &trans
>;
        };
    };
};
